@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary_color: #fdfefe;
    --secondary_color: #f1c40f;
    --text_color: #17202a;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --background: rgba(0, 0, 0, .7);

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 5rem 8%;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary_color);
    box-shadow: var(--box-shadow);
    padding: 1.3rem 8%;
    width: 100%;
    z-index: 1000;
}

.header .logo {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secondary_color);
    font-weight: 700;
}

.navbar a {
    margin: 0 1.5rem;
    font-size: 1.7rem;
    color: var(--text_color);
    font-weight: 400;
}

.navbar a:hover,
.navbar a.active {
    color: var(--secondary_color);
}

.header .righ_side {
    display: flex;
    align-items: center;
    gap: .9rem;
}

.header .righ_side a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: var(--primary_color);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--text_color);
    transition: .2s linear;
}

.header .righ_side a:hover {
    background-color: var(--secondary_color);
    color: var(--primary_color);
    transform: rotate(360deg);
}

#menu_btn {
    display: none;
}

.home {
    padding: 0;
}

.home .home-slider {
    position: relative;
}

.swiper-pagination {
    content: '';
    position: absolute;
    left: -64rem;
    bottom: 8rem;
}

.home .slide {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.home .slide::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: -1;
}

.home .slide .content {
    padding: 20rem 8%;
    width: 70rem;
}

.home .slide .content .heading {
    font-size: 5rem;
    color: #fff;
}

.home .slide .content .description {
    color: #fff;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.home .slide .content .btn_2 {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    background: var(--secondary_color);
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 20px;
}
.header .search_form{
    position: absolute;
    top:-115%;
    right:2rem;
    width:50rem;
    border-radius:.5rem;
    display: flex;
    align-items: center;
    height:5.5rem;
    background:var(--primary_color);
    box-shadow:var(--box-shadow);
}
.header .search_form.active{
    top:115%;
}
.header .search_form input{
    width:100%;
    height:100%;
    padding:0 1.2rem;
    font-size:1.6rem;
    color:#000;
    text-transform: none;
    border-top-left-radius:.5rem;
    border-bottom-left-radius:.5rem;
}
.header .search_form label{
    font-size:2.5rem;
    margin-right:1.7rem;
    cursor: pointer;
}
.header .search_form label:hover{
    color:var(--secondary_color);
}

.header .shopping_cart{
    position: absolute;
    top:115%;
    right:-105%;
    width:35rem;
    padding:2rem;
    border-radius:.5rem;
    box-shadow: var(--box-shadow);
    background:var(--primary_color);
}
.header .shopping_cart.active{
    right:2rem;
}
.header .shopping_cart .box{
    display: flex;
    align-items: center;
    gap:1.4rem;
    margin-bottom:1.3rem;
    position: relative;
}
.header .shopping_cart .box .fa-times{
    position: absolute;
    top:50%;
    right:2rem;
    font-size:2rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.header .shopping_cart .box .fa-times:hover{
    color:var(--secondary_color);
}
.header .shopping_cart .box img{
    height:10rem;
    width:10rem;
}
.header .shopping_cart .box h3{
    font-size:1.7rem;
    color:var(--secondary_color);
}
.header .shopping_cart .box span{
    font-size:1.5rem;
    color:#000;
}
.header .shopping_cart .box span .multiply{
    margin:0 .9rem;
}
.header .shopping_cart .total{
    font-size:2.2rem;
    margin-top:1rem;
    text-align: center;
    color:var(--secondary_color);
}
.header .shopping_cart .btns{
    display: inline-block;
    padding:.8rem 3rem;
    font-size:1.7rem;
    color:#fff;
    background:var(--secondary_color);
    margin-top:1rem;
    border-radius:.5rem;
    text-align: center;
    width:100%;
}


.swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5em;
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: var(--secondary_color);
    width: 2rem;
    height: 2rem;
}
.other{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap:1.6rem;
}
.other .box1{
 background: url(assets/back1.jpg);
 height:40rem;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius:.5rem;
 padding:2rem;
}
.other .box1 h2{
    color:#fff;
    font-size:2rem;
    margin-bottom:1rem;
}
.other .box1 h1{
    color:#fff;
    font-size:3rem;
}
.other .box2{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.other .box2 .inner_box{
    background:url(assets/back2.jpg);
    padding:2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:19.5rem;
    border-radius:.5rem; 
}
.other .box2 .inner_box h2{
    color:#fff;
    font-size:2rem;
    margin-bottom:1rem;
}
.other .box2 .inner_box h1{
    color:#fff;
    font-size:3rem;
}
.testy_burgers .content{
    text-align: center;
    width:50rem;
    margin: 0 auto
    ;
}
.testy_burgers .content h2{
    background:var(--secondary_color);
    width:25rem;
    margin:0 auto;
    font-size:2.5rem;
    margin-bottom:1rem;
    color:var(--primary_color);
}
.testy_burgers .content h1{
    font-size:4rem;
    color: #af601a;
    font-weight: 600;
}
.testy_burgers > p{
    font-size:1.5rem;
    width:70rem;
    text-align: center;
    margin:0 auto;
    color: #af601a;
}
.testy_burgers .cards{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap:1.6rem;
    margin-top:2rem;
}
.testy_burgers .card{
    background:var(--primary_color);
    box-shadow: var(--box-shadow);
    padding:2rem;
    text-align: center;
}
.testy_burgers .card img{
    width:30rem;
    height:30rem;
}
.testy_burgers .card:hover  img{
    transform: scale(1.1);
    transition:.2s linear;
}
.testy_burgers .card h3{
    font-size:2.4rem;
}
.testy_burgers .card  p{
    font-size:1.7rem;
    margin:.6rem 0;
}
.testy_burgers .card .btns{
    display: inline-block;
    padding:.7rem 3rem;
    background:var(--secondary_color);
    color:var(--primary_color);
    font-size:1.7rem;
    cursor: pointer;
    margin:.6rem 0;
}

.dicover{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap:1.4rem;
}
.dicover .content{
    padding:2rem;
}
.dicover .content span{
    font-size:4rem;
    color:var(--secondary_color);
}
.dicover .content h2{
    font-size:5rem;
    color: #af601a;
}
.dicover .content p{
    font-size:1.7rem;
    color:#2c3e50;
}
.dicover img{
    width:100%;
    border-radius: .5rem;
}
.reservation{
    padding:0;
    position: relative;
    background:var(--primary_color);
    min-height:80vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reservation .img1 {
    position: absolute;
    left:-10rem;
    top:-2rem;
    width:25rem;
}
.reservation .img2{
    position: absolute;
    right:-10rem;
    bottom:-2rem;
    width:35rem;
}
.reservation .heading{
    text-align: center;
}
.reservation .heading span{
    font-size:4rem;
    font-weight:500;
    color:var(--text_color);
}
.reservation .heading h2{
    font-size:5rem;
    font-weight:800;
}
.reservation form{
    margin-top:2rem;
}
.reservation form .box{
    width:55rem;
    height:2.4rem;
    display: block;
    padding:1.8rem;
    background: #e5e7e9;
    margin:.8rem 0;
    color:#000;
}
.reservation form .btn{
    display: inline-block;
    background:var(--secondary_color);
    color:var(--primary_color);
    padding:.8rem 3rem;
    font-size: 2rem;
}
.footer_sectiion{
    background:var(--primary_color);
    width:100%;
}
.footer_sectiion p{
    text-align: center;
    font-size:2rem;
    padding:2rem;
    background:var(--primary_color);
    box-shadow: var(--box-shadow);
}




@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}


@media (max-width:768px) {
    .header {
        padding: 1.3rem;
    }

    .navbar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: var(--primary_color);
        border-top: .2rem solid rgba(0, 0, 0, 0.2);
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar a {
        display: block;
        margin: 1rem 0;
        padding: 1rem;
        text-align: center;
    }

    .navbar a:hover,
    .navbar a.active {
        border-left: .6rem solid var(--secondary_color);
    }

    #menu_btn {
        display: inline-block;
    }

    .header .search_form{
        width:100%;
        right:0;
        border-radius:0;
    }

    .home .slide .content .heading {
        font-size: 4rem;
    }

    .home .slide {
        min-height: 50vh;
    }
    

}


@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .home .slide .content {
        padding: 20rem 8%;
        width: 37rem;
        text-align: center;
      }
      .home .slide .content .heading{
        font-size:3.2rem;
      }
      .testy_burgers .content {
        text-align: center;
        width: 31rem;
      }
      .testy_burgers > p {
        font-size: 1.3rem;
        width: 31rem;
    }
    .reservation form .box {
        width: 33rem;
      }
      .reservation .img1 {
        width: 20rem;
      }
      .reservation .img2 {
        width: 30rem;
      }



}